{% load static %}

{% block certificate %}
<div id="certificate">
    <div class="topic">Certyfikaty</div>

  <div class="list">
    <div class="sector">
      <div class="item">
        <div class="left">E.12</div>
        <div class="right">Montaż i eksploatacja komputerów osobistych oraz urządzeń peryferyjnych.</div>
      </div>

      <div class="item">
        <div class="left">E.13</div>
        <div class="right">Projektowanie lokalnych sieci komputerowych i administrowanie sieciami</div>
      </div>

      <div class="item">
        <div class="left">E.14</div>
        <div class="right">Tworzenie aplikacji internetowych i baz danych oraz administrowanie bazami.</div>
      </div>
    </div>

    <div class="sector">
      <div class="item">
        <div class="left">Android</div>
        <div class="right">Certyfikat uzyskany przez "Akademie sukcesu"</div>
      </div>

      <div class="item">
        <div class="left">Świadectwo</div>
        <div class="right">Ukończenie Technikum Informatycznego</div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
