{% load static %}

{% block contact %}
<div id="contact">
  <div class="topic">Kontakt</div>

  <div class="list">
    <div class="sector">
      <div class="item">
        <div class="left"><i class="clock icon"></i></div>
        <div class="right">09:00 - 12:00, 16:00 - 22:30 poniedziałek</div>
      </div>

      <div class="item">
        <div class="left"><i class="clock icon"></i></div>
        <div class="right">16:00 - 22:00, wtorek - czwartek</div>
      </div>

      <div class="item">
        <div class="left"><i class="clock icon"></i></div>
        <div class="right">16:00 - 24:00, piątek</div>
      </div>

      <div class="item">
        <div class="left"><i class="clock icon"></i></div>
        <div class="right">09:00 - 24:00, sobota - niedziela</div>
      </div>
    </div>

    <div class="sector">
      <div class="item">
      <a class="fb" href="https://www.facebook.com/olaf.jaworski" target="_blank" rel="noopener noreferrer">
        <div class="left"><i class="facebook icon"></i></div>
        <div class="right">Wiadomośc przez facebook (najszybszy kontakt)"</div>
      </a>
      </div>

      <div class="item">
        <div class="left"><i class="envelope outline icon"></i></div>
        <div class="right">olo880@spoko.pl</div>
      </div>

      <div class="item">
        <div class="left"><i class="phone alternate icon"></i></div>
        <div class="right">517 154 291</div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
