{% extends "portfolio/layouts/default.html" %}

{% load static %}

{% block title %}Portfolio{% endblock %}

{% block home %}

<div class="home-page">
<div class="card">
  <div class="name"><h1>Olaf Jaworski</h1></div>
  <div class="image">
    <div class="ui placeholder">
        <div class="square image"></div>
      </div>
  </div>
  <div class="content">
    <div class="description">
      Web Developer
      <a class="gh" href="https://github.com/scooredmars" target="_blank"><i class="github icon"></i></a>
    </div>
  </div>
</div>
  <div class="ui bottom attached label">
    <a href="#skills"><i class="arrow circle down icon"></i></a>
  </div>
</div>

</div>


{% endblock %}
