//////main//////
$navbar_link: rgb(0, 0, 0);
$footer_background: rgb(204, 204, 204);
$topic: black;

//////home//////
$home_color: rgb(0, 0, 0);
$home_background: rgba(255, 255, 255, 0.397);
$home_bottom_background: rgba(255, 255, 255, 0);

//////skills//////
$skills_background: rgba(241, 241, 241, 0.982);
$skills_border: rgba(65, 63, 63, 0.301);
$skills_minus: rgba(119, 114, 114, 0.582);

//////certificate//////
$certificate_background: rgba(224, 221, 221, 0.973);

//////projects//////
$projects_background: rgba(241, 241, 241, 0.982);
$projects_border: rgba(65, 63, 63, 0.301);


//////contact//////
$contact_background: rgba(224, 221, 221, 0.973);
$border_contact: rgba(65, 63, 63, 0.301);
