.column{
  display: flex;
  margin: auto;
  width: fit-content;

  .cont{
    width: 6.5em;
    text-align: center;
    font-size: 1.25em;
  }
}

.footer {
  clear: both;
  position: relative;
  background: $footer_background;
  padding: .2em;
}
